{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Наименование товара</th>
                <th>Колличество</th>
                <th>Удалить товар</th>
                <th>Цена</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="">
                                <img src="{% if product.image %}{{ product.image.url }}
                                          {% else %}{% static 'img/no_image.png' %}{% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" value="Добавить">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                <input type='submit' value="Удалить" >
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }}₸</td>
                        <td class="num">{{ item.total_price }}₸</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Итого к оплате -</td>
                <td colspan></td>
                <td class="num">{{ cart.get_total_price }}₸</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button light">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="button">Перейти к оформлению заказа</a>
    </p>
{% endblock %}