{% load static %}
 <html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo">Сэмовар</a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Ваша корзина:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} шт.
            {{ cart.get_total_price }}₸
            </a>
            {% elif not order %}
            В корзине нет товаров.
            {% endif %}
            {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
 </html>

